@import url('https://fonts.googleapis.com/css?family=Open+Sans:300,300i,400,400i,600,600i,700,700i,800,800i');
body {
  font-family: 'Open Sans', sans-serif;
}

.bg-image {
  background-image: url('https://images.unsplash.com/photo-1484387436194-cf7cb70800ce?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1950&q=80');
  background-size: cover;
}

.card-dimension {
  height: 15.62em;
}

a.nav-link.text-white.section-title:hover {
  color: orange !important;
}

.profile-image {
  width: 15%;
}

.bg-grey {
  background-color: #2a2c36;
}

/* Social Icons CSS */
.social-icon-list {
  width: 2.5em;
}

.social-icons.facebook li{
  background-color: #3b5998;
  color: white;
}

.social-icons.facebook li:hover{
  background-color: white;
  color: #3b5998 !important;
}

.social-icons.twitter li{
  background-color: #1da1f2;
  color: white;
}

.social-icons.twitter li:hover{
  background-color: white;
  color: #1da1f2 !important;
}


.social-icons.instagram li{
  background-color: #e1306c;
  color: white;
}

.social-icons.instagram li:hover{
  background-color: white;
  color: #e1306c !important;
}

/* Full Screen Menu */

.modal-fullscreen-menu {
  background-color: #2a2c36;
  .logo {
    transition: all 0.25s ease;
    padding-left: 2.7rem;
    padding-bottom: 1rem;
  }
  .menu-footer {
    display: inline-flex;
    float: right;
  }
  .glyphicon-chevron-right {
    visibility: hidden;
    font-size: 10px;
    vertical-align: 2.5px;
    padding-right: 0.3rem
  }
  hr {
    border: 0;
    border-top: 1px solid #666;
    margin: 0.7rem;
  }
  .close {
    color: white;
    opacity: 1;
    padding: 3.5rem;
    position: absolute;
    top: 0;
    right: 0;
    z-index: 1;
    font-size: 5vh;
  }
  .modal-dialog {
    margin: 0 auto;
    max-width: 298px;
    display: flex;
    height: 100%;
    align-items: center;
  }
  .modal-content {
    background-color: transparent;
    box-shadow: none;
    border: none;
  }
  .list-group {
    text-align: left;
    margin: 0 auto;
    width: 100%;
    a {
      margin: 0.2rem;
      text-transform: uppercase;
      font-size: 14px;
      color: #d1d4d7;
      font-weight: 700;
      letter-spacing: 0em;
      border-radius: 20px;
      border-color: transparent;
      transition: all 0.25s ease;
      background-color: transparent;
      padding: 0.7rem;
      height: 3rem;
      line-height: 0;
      &:hover {
        color: white;
        border-radius: 20px;
        background-color: #141519;
        .glyphicon-chevron-right {
          visibility: visible;
        }


        &:before {
          transform: translate3d(0, 0, 0);
          opacity: 1;
        }
      }
    }
  }
}

.modal-backdrop {
  &.in {
    opacity: 1;
  }
}
